<!--<app-navbar></app-navbar>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link"  routerLink="/card" >Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/home">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div *ngFor="let card of cards"  class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" style="width: 317px; height: 300px" [src]="card.imagem" alt="Baby Groot">
        <div class="card-block">
          <h4 class="card-title">Meu Personagem: {{ card.nomePersonagem }}</h4>
          <p class="card-text">Meu Nome: {{ card.meuNome }}.<br> Um filme: {{ card.filme }}.</p>      
          <a href="#"  class="btn btn-primary">{{ card.nomeBotao }}</a>
        </div>
      </div>
    </div>
  </div>
</div>




























<!--Exemplo HTML PURO-->
<!--<div class="container-fluid">
  <h1> Meu Personagem Favorito </h1>
  <hr>
  <p> Meu Nome: Matheus Marinho</p>
  <p> Meu Personagem: Groot</p>
  <p>Um filme: Guardiões da Galáxia Vol.2</p>
  <p> Algo pra Digitar: <input type="text" value=""> </p>
  <p> Seus Poderes: <select #poder>
  <option value="Regeneração">Regeneração</option>
  <option value="Elasticidade">Elasticidade</option>
  <option value="Absorver Madeira">Absorver Madeira</option>
</select> </p>
  <h1> Amigos de Groot: </h1>
  <h3>Senhor das Estrelas</h3>
  <h3>Gamora</h3>
  <h3>Rocket</h3>
  <h3>Nebulosa</h3>
  <button type="button">BUM!</button>
  <br>
  <img src="https://i.ytimg.com/vi/FAciZRkOKQs/maxresdefault.jpg" alt="Baby Groot">
</div>-->













<!--Usando Data-Binding e Diretivas-->
<!--<div class="container-fluid">
  <h1> Meu Personagem Favorito </h1>
  <hr>
  <p> Meu Nome: {{ meuNome }}</p>
  <p> Meu Personagem: {{ personagem }}</p>
  <p>Um filme: {{ getFilme() }}</p>
  <p> Algo pra Digitar: <input [disabled]="input" [(ngModel)]="meuNome" type="text" [ngClass]="{'borda-red': meuNome=='','borda-green': meuNome != ''}"> </p>
  <p> Seus Poderes: <select class="borda-green" #habilidade>
  <option *ngFor="let habilidade of habilidades"  value="{{ habilidade.id }}">{{ habilidade.habilidade }}</option>
</select> <button (click)= "mostrarHabilidade(habilidade.value)" type="button">Mostrar!</button> </p>
  <h1> Amigos de {{personagem}} </h1>
  <h3 *ngFor="let amigos of nomesAmigos">{{amigos}}</h3>
  <button (click)="aparecerImagem()" type="button">BUM!</button>
  <br>
  <img *ngIf="imagemVisivel"  [src]="imagem" alt="Baby Groot">
</div>-->